<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-item *ngFor="let data of AllFood">
       <img width="80" height="80" src="{{data.picture}}" />
    <br>
      <button ion-button color="light" (click)="itemTapped(data.calorieen)">
        {{ data.name }}
      </button>
      <p>{{ data.calorieen }} calorieën</p>
    </ion-item>
</ion-content>
