<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <canvas #doughnutCanvas> </canvas>
    <p>{{message}}</p>
    <button ion-button color="light" (click)="resetCounter()">Reset Calorie Counter</button>
  </ion-content>
