<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>ADD food</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-list>
        <ion-item>
            <ion-input
              type="text"
              [(ngModel)]="Naam"
              name="input"
              placeholder="naam"
            >
            </ion-input>
          </ion-item>
      <ion-item>
        <ion-input
          type="number"
          [(ngModel)]="calorieen"
          name="input"
          placeholder="Aantal cal"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <button ion-button outline block full (click)="takePhoto(0)">
          Choose picture
        </button>
      </ion-item>
      <ion-item> <img src="{{picture}}" /> </ion-item>
      <ion-item>
        <button ion-button outline block full (click)="SaveData()">
          Save food
        </button>
      </ion-item>
      <ion-item>
        <p>{{ message }}</p>
      </ion-item>

      <ion-item>
          <ion-input
            type="text"
            [(ngModel)]="zoek"
            name="input"
            placeholder="Naam van wat je wil verwijderen"
          >
          </ion-input>
        </ion-item>
        <ion-item>
            <button ion-button outline block full (click)="DeleteData()">
             Delet food
            </button>
          </ion-item>
    </ion-list>
  </form>
</ion-content>
