<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Settings</h1>
  <form>
    <ion-list>
      <ion-item>
        <ion-input
          type="number"
          [(ngModel)]="input"
          name="input"
          placeholder="Aantal cal per dag"
        >
        </ion-input>
      </ion-item>
      <ion-item>
          <ion-label> wat wil je ?</ion-label>
          <ion-select [(ngModel)]="choice" name="choice">
              <ion-option value="loos">gewicht verliezen</ion-option>
              <ion-option value="equal">zelfde gewicht blijven</ion-option>
              <ion-option value="gain">bijkomen in gewicht</ion-option>
            </ion-select>
      </ion-item>

      <ion-item>
        <button ion-button outline block full (click)="SaveData()">Set</button>
      </ion-item>
      <ion-item>
         <p>{{message}}</p>
        </ion-item>


    </ion-list>
  </form>
</ion-content>
